.chat-box {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  height: 98%;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.messages {
  max-height: 80vh;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}

.user {
  background-color: #f0f0f0;
}

.assistant {
  background-color: #e0e0e0;
}

.prompt {
  padding: 10px;
  border: none;
  width: 100%;
  border-top: 1px solid #ccc;
  outline: none;
}

code {
  background-color: #f4f4f4; /* Light gray background */
  padding: 0.2em 0.4em; /* Add some padding */
  border-radius: 3px; /* Add rounded corners */
  font-family: monospace; /* Use monospace font */
}
